openapi: 3.1.0
info:
  title: Google Drive API
  version: 1.4.1
servers:
  - url: https://www.googleapis.com/drive/v3

paths:
  /files:
    get:
      operationId: listDriveFiles
      summary: Lista arquivos no Drive
      parameters:
        - name: q
          in: query
          description: Filtro de busca (ex.: mimeType="application/pdf" AND name contains 'Deleuze')
          required: false
          schema:
            type: string
        - name: pageSize
          in: query
          schema:
            type: integer
        - name: fields
          in: query
          schema:
            type: string
            default: "files(id,name,mimeType),nextPageToken"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  files:
                    type: array
                    items:
                      $ref: '#/components/schemas/File'
                  nextPageToken:
                    type: string

components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/drive: Full access to Drive

  schemas:
    File:
      type: object
      required: [id,name,mimeType]
      properties:
        id:
          type: string
        name:
          type: string
        mimeType:
          type: string

security:
  - OAuth2:
      - https://www.googleapis.com/auth/drive
